################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DmDashboard/v15
/.vs/GmDashboard/v15/Server/sqlite3/db.lock
/CommonCode/obj/Debug
/CommonCode/bin/Debug
/DialogService/bin/Debug
/DialogService/obj/Debug/ChartBuilderDialog
*.CopyComplete
*.cache
/DialogService/obj/Debug/DialogService.csproj.FileListAbsolute.txt
/DialogService/obj/Debug/DialogService.dll
/DialogService/obj/Debug/DialogService.g.resources
/DialogService/obj/Debug/DialogService.pdb
/DialogService/obj/Debug/DialogService_MarkupCompile.lref
/DialogService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DialogService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DialogService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/GmDashboard/bin/Debug/unvell.ReoGrid.xml
/GmDashboard/bin/Debug/unvell.ReoGrid.dll
/GmDashboard/bin/Debug/System.Windows.Interactivity.dll
/GmDashboard/bin/Debug/PreParsedChart.pdb
/GmDashboard/bin/Debug/PreParsedChart.dll
/GmDashboard/bin/Debug/Pipes.pdb
/GmDashboard/bin/Debug/Pipes.dll
/GmDashboard/bin/Debug/Microsoft.Practices.ServiceLocation.xml
/GmDashboard/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
/GmDashboard/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/GmDashboard/bin/Debug/MaterialDesignThemes.Wpf.xml
/GmDashboard/bin/Debug/MaterialDesignThemes.Wpf.pdb
/GmDashboard/bin/Debug/MaterialDesignThemes.Wpf.dll
/GmDashboard/bin/Debug/MaterialDesignColors.pdb
/GmDashboard/bin/Debug/MaterialDesignColors.dll
/GmDashboard/bin/Debug/GmDashboard.pdb
/GmDashboard/bin/Debug/GmDashboard.exe.config
/GmDashboard/bin/Debug/GmDashboard.exe
/GmDashboard/bin/Debug/GalaSoft.MvvmLight.xml
/GmDashboard/bin/Debug/GalaSoft.MvvmLight.Platform.xml
/GmDashboard/bin/Debug/GalaSoft.MvvmLight.Platform.pdb
/GmDashboard/bin/Debug/GalaSoft.MvvmLight.Platform.dll
/GmDashboard/bin/Debug/GalaSoft.MvvmLight.pdb
/GmDashboard/bin/Debug/GalaSoft.MvvmLight.Extras.xml
/GmDashboard/bin/Debug/GalaSoft.MvvmLight.Extras.pdb
/GmDashboard/bin/Debug/GalaSoft.MvvmLight.Extras.dll
/GmDashboard/bin/Debug/GalaSoft.MvvmLight.dll
/GmDashboard/bin/Debug/DialogService.pdb
/GmDashboard/bin/Debug/DialogService.dll
/GmDashboard/bin/Debug/CommonCode.pdb
/GmDashboard/bin/Debug/CommonCode.dll
/GmDashboard/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/GmDashboard/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/GmDashboard/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/GmDashboard/obj/Debug/MainWindow.g.i.cs
/GmDashboard/obj/Debug/MainWindow.g.cs
/GmDashboard/obj/Debug/MainWindow.baml
/GmDashboard/obj/Debug/GmDashboard_MarkupCompile.lref
/GmDashboard/obj/Debug/GmDashboard.Properties.Resources.resources
/GmDashboard/obj/Debug/GmDashboard.pdb
/GmDashboard/obj/Debug/GmDashboard.g.resources
/GmDashboard/obj/Debug/GmDashboard.exe
/GmDashboard/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/GmDashboard/obj/Debug/GeneratedInternalTypeHelper.g.cs
/GmDashboard/obj/Debug/App.g.i.cs
/GmDashboard/obj/Debug/App.g.cs
/GmDashboard/obj/Debug/App.baml
/GmDashboard/obj/Debug/GmDashboard.csproj.FileListAbsolute.txt
/GmFunctions/bin/Debug
/PreParsedChart/obj/Debug
/PreParsedChart/bin/Debug
/PostParsedChart/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/PostParsedChart/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/PostParsedChart/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/PostParsedChart/obj/Debug/PostParsedChart.Properties.Resources.resources
/PostParsedChart/obj/Debug/PostParsedChart.pdb
/PostParsedChart/obj/Debug/PostParsedChart.dll
/PostParsedChart/obj/Debug/PostParsedChart.csproj.FileListAbsolute.txt
/PostParsedChart/bin/Debug
/Pipes/obj/Debug
/Pipes/bin/Debug
/GmFunctions/obj/Debug
/GmDashboard/bin/Debug/Resources
