################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DmDashboard/v15
/.vs/GmDashboard/v15/Server/sqlite3/db.lock
/CommonCode/obj/Debug
/CommonCode/bin/Debug
/DialogService/bin/Debug
/DialogService/obj/Debug/ChartBuilderDialog
*.CopyComplete
*.cache
/packages/
/DialogService/obj/Debug/
/GmDashboard/bin/Debug/
/GmDashboard/obj/Debug/
/GmFunctions/bin/Debug
/PreParsedChart/obj/Debug
/PreParsedChart/bin/Debug
/PostParsedChart/obj/Debug/
/PostParsedChart/bin/Debug
/Pipes/obj/Debug
/Pipes/bin/Debug
/GmFunctions/obj/Debug
/GmDashboard/bin/Debug/Resources
/.vs/GmDashboard/v15/.suo
/DialogService/obj/Debug/DialogService_MarkupCompile.i.lref
/.vs/GmDashboard/v16
