################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DmDashboard/v15
/.vs/GmDashboard/v15/Server/sqlite3/db.lock
/CommonCode/bin/Debug
/DialogService/bin/Debug
/CommonCode/obj/Debug
/DialogService/obj/Debug
/GmDashboard/bin/Debug/unvell.ReoGrid.xml
/GmDashboard/bin/Debug/unvell.ReoGrid.dll
/GmDashboard/bin/Debug/System.Windows.Interactivity.dll
/GmDashboard/bin/Debug/PreParsedChart.pdb
/GmDashboard/bin/Debug/PreParsedChart.dll
/GmDashboard/bin/Debug/Pipes.pdb
/GmDashboard/bin/Debug/Pipes.dll
/GmDashboard/bin/Debug/Microsoft.Practices.ServiceLocation.xml
/GmDashboard/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
/GmDashboard/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/GmDashboard/bin/Debug/MaterialDesignThemes.Wpf.xml
/GmDashboard/bin/Debug/MaterialDesignThemes.Wpf.pdb
/GmDashboard/bin/Debug/MaterialDesignThemes.Wpf.dll
/GmDashboard/bin/Debug/MaterialDesignColors.pdb
/GmDashboard/bin/Debug/MaterialDesignColors.dll
/GmDashboard/bin/Debug/GmDashboard.pdb
/GmDashboard/bin/Debug/GmDashboard.exe.config
/GmDashboard/bin/Debug/GmDashboard.exe
/GmDashboard/bin/Debug/GalaSoft.MvvmLight.xml
/GmDashboard/bin/Debug/GalaSoft.MvvmLight.Platform.xml
/GmDashboard/bin/Debug/GalaSoft.MvvmLight.Platform.pdb
/GmDashboard/bin/Debug/GalaSoft.MvvmLight.Platform.dll
/GmDashboard/bin/Debug/GalaSoft.MvvmLight.pdb
/GmDashboard/bin/Debug/GalaSoft.MvvmLight.Extras.xml
/GmDashboard/bin/Debug/GalaSoft.MvvmLight.Extras.pdb
/GmDashboard/bin/Debug/GalaSoft.MvvmLight.Extras.dll
/GmDashboard/bin/Debug/GalaSoft.MvvmLight.dll
/GmDashboard/bin/Debug/DialogService.pdb
/GmDashboard/bin/Debug/DialogService.dll
/GmDashboard/bin/Debug/CommonCode.pdb
/GmDashboard/bin/Debug/CommonCode.dll
/GmDashboard/obj/Debug
/PostParsedChart/obj/Debug
/PostParsedChart/bin/Debug
/Pipes/obj/Debug
/PreParsedChart
/Pipes/bin/Debug
